name: Release

on:
  push:
    branches: [main]

permissions:
  packages: write
  contents: read

jobs:
  docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push multi-arch image
        run: docker buildx build --platform linux/amd64,linux/arm64 --tag ghcr.io/${{ github.repository }}:latest --push -f cmd/Dockerfile .
